<% provide :title, t (".title_about") %>
<h1>About</h1>
<p>
  <%= link_to t(".ruby_tutorial"), "http://www.railstutorial.org/" %>
  <%= link_to t(".ruby_book"), "http://www.railstutorial.org/book/" %>
  <%= link_to t(".ruby_on_rails"), "http://rubyonrails.org/" %>
</p>
