@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;
$while1: #e8e8e8;
$while2: #bbb;

@mixin box_sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.logo {
  color: white;
  font-size: 1.7em;
  float: left;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      text-align: left;
    }

    .user_info {
      margin-top: 20px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $while2;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

.error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.session_remember_me {
  margin-left: 0;
  width: auto;
}

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

.microposts {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid $while1;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span{
  .picture {
    margin-top: 10px;

    input {
      border: 0;
    }
  }
}
